# ignore all files in the flu-sampler/obj folder, and the executable
obj/
flu-sampler

# ignore all temp files
*~
*.backup
*.bak

# ignore hidden files, but include this file
.*
!.gitignore

# ignore documents, figures, pdfs, (zipped) xml files, sas databases
*.png
*.pdf
*.docx
*.doc
*.ods
*.xml
*.xml.gz
*.sas7bdat
# but do not ignore these special files
!data/ILI/codebook.pdf


# ignore latex auxilliary files
*.aux
*.bbl
*.blg
*.log
*.out

# compiled code, dependencies
*.pyc
*.o
*.d

# ignote jupyter notebooks (but not ipynb.cln)
*.ipynb

# generated data
data/*.tsv
